.acf-field-561d864020246 .acf-repeater-add-row
{
    display: none;
}


.acf-field input[type="text"], .acf-field input[type="password"], .acf-field input[type="number"], .acf-field input[type="search"], .acf-field input[type="email"], .acf-field input[type="url"], .acf-field textarea, .acf-field select
{
    width: 100%;
    padding: 3px 5px;
    resize: none;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 15px;
}
.acf-field .acf-label label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.4em;
    margin: 0 0 3px;
}
thead td
{
    font-weight: bold;
}

#quick-access {
    display: block;
}

#quick-access ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

#quick-access ul li {
    display: inline;
}

#quick-access ul li a {
    display: block;
    text-align: center;
    float: left;
    margin: 10px 20px;
    font-weight: bold;
    max-width: 100px;
}

#quick-access ul li a span {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #16B0A3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 0 auto 10px auto;
}

#quick-access ul li:hover a span {
    background-color: #F43E7E;
}

#quick-access div.wp-menu-image:before {
    font: 400 35px/1 dashicons !important;
    height: 35px;
    width: 35px;
    color: #fff;
}

/** Content item publish panel **/
#visibility {
    display: none;
}
#preview-action {
    display: none;
}