#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu,
.wp-core-ui .button-primary
{
    background-color: #16B0A3;
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, .folded #adminmenu li.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, #adminmenu .wp-menu-arrow, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow div
{
    background-color: #0E675F;
}
#adminmenu .wp-has-current-submenu .wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu
{
    background-color: #00796E;
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus,
#collapse-menu:hover, #collapse-menu:hover #collapse-button div:after
{
    background-color: #0E675F;
    color: #FFF;
}
#adminmenu a:hover, #adminmenu li.menu-top > a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-submenu a:focus
{
    color: #fff;
}

#adminmenu div.wp-menu-image:before {
    color: rgba(240,245,250,.6);
}

a.row-title
{
          color: #16B0A3;
}
#adminmenu li:hover div.wp-menu-image:before, #adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before
{
    color: rgba(240,245,250,1);
}

#wpadminbar,
#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item,
.wp-core-ui .button-primary:hover
{
    background-color: #0E675F;
}

#wp-admin-bar-wp-logo
{
    display: none;
}